.timestamp {
    display: none;
}

.theorem, .proposition, .proof, .conjecture, .lemma,
.corollary, .remark, .example {
    display: block;
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 0 7px;
    border-radius: 5px;
    font-style: italic;
}

.theorem-header, .proposition-header, .proof-header, .conjecture-header, .lemma-header,
.corollary-header, .remark-header, .example-header {
    display: block;
    float: left;
    border-radius: 5px;
    margin-left: 1em;
    margin-top: -1em;
    padding: 0 7px;
    color: white;
    font-style: normal;
}

.theorem {
    background-color: #FFF9F3;
    border: 1px solid #FF8618;
}

.theorem-header {
    background-color: #FF8618;
    font-weight: bold;
}

.proof, .example {
    background-color: #F2FBF6;
    border: 1px solid #00A652;
}

.proof-header, .example-header {
    background-color: #00A652;
    font-weight: bold;
}

.proposition, .lemma, .corollary {
    background-color: #F2FBFF;
    border: 1px solid #00AEF7;
}

.proposition-header, .lemma-header, .corollary-header {
    background-color: #00AEF7;
    font-weight: bold;
}

.conjecture, .remark {
    background-color: #FFE3E3;
    border: 1px solid #996699;
}

.conjecture-header, .remark-header {
    background-color: #996699;
    font-weight: bold;
}
