{{define "main"}}
<div class="container">
  <div class="row">
    <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
                ">
      {{ $pages := (where .Site.RegularPages "Type" "post")}}
      {{ range ($pages.GroupByDate "2006-01") }}
      <h2>{{ .Key }}</h2>
      <ul class="archive-list">
        {{ range (where .Pages "Type" "post") }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</div>
{{end}}
