{{define "main"}}
<div class="container">
  <div class="row">
    <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
                ">
      {{ .Content }}
      {{ $math := slice "Mathematics" }}
      {{ $act := slice  "Activity" }}
      {{ $pages := (where .Site.RegularPages  "Params.tags" "intersect" $math)}}
      {{ $activities := (where $pages "Params.tags" "intersect" $act)}}
      {{ $essays := complement $activities $pages}}
      <h2>Essays</h2>
      {{ range $essays.GroupByDate "2006" }}
      <h3>{{ .Key }}</h3>
      <ul class="archive-list">
        {{ range (where .Pages "Type" "post") }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</div>
{{end}}
