{{define "main"}}
<div class="container">
  <div class="row">
    {{ $lp := slice "Literature" "Philosophy"}}
    {{ $essay_lp := (where .Site.RegularPages  "Params.tags" "intersect" $lp)}}
    <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
                ">
      {{ .Content }}
    <h2>Philosophy & Literature</h2>
    {{ range $essay_lp.GroupByDate "2006" }}
    <h3>{{ .Key }}</h3>
    <ul class="archive-list">
      {{ range (where .Pages "Type" "post") }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
  </div>
</div>
{{end}}
